@tailwind base;
@tailwind components;
@tailwind utilities;

body.noscroll {
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    /* make sure iOS does not try to scroll the body first */
}

.mapboxgl-map {
    min-height: 100vh;
    /* this is the magic, actually bug abusing iOS here */
}